.header {
    justify-content: center;
}


.main_icon {
    background-color: blue;
    display: inline;
}

#logo {
    width:4vw;
}

#main_title {
    display: inline-block;
    /* font-size: 1vw; */
    /* align-items: center; */
}

.main_container {
    display: flex;
}

.main_pic_container {
    width: 50vw;
    height: 80vh;
    padding: 1rem;
    background-color: rgb(255, 255, 0);
    
}

.main_pic {
    width: 50vw;
    border-radius: 10px;
}

.right_container {
    display: block;
}

.description {
    background-color: aqua;
    /* font-size: 2vw; */
    /* width: 50vw; */
    /* display:inline; */
}

.card_pic {
    padding: 1rem;
    /* background-color: antiquewhite; */
    width: 20rem;
    height: 20rem;
}

.show_pics {
    width: 20rem;
    border-radius: 10px;
    object-fit: contain;
    /* display: flex; */
}